.navbar {
  position: fixed;
  top: 0;
  left: 280px; /* Sidebar Width */
  right: 0;

  height: 70px;

  background: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;

  border-bottom: 1px solid #e2e8f0;

  z-index: 1000;
}

.navbar h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1e293b;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar input {
  width: 250px;
  padding: 10px 14px;

  border: 1px solid #cbd5e1;
  border-radius: 10px;

  font-size: 14px;
  outline: none;

  transition: 0.3s ease;
}

.navbar input:focus {
  border-color: #4f8cff;
  box-shadow: 0 0 0 3px rgba(79, 140, 255, 0.15);
}

.profile {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background: #4f8cff;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  cursor: pointer;
}